.pricehead{text-align: center;padding-top:120px;font-size: 150%;}
.pricecontent{margin-left:170px;border: 1px red;width: 250px;height: 350px;outline-style: solid;text-align: center;border-radius: 5px;outline-width: 0.5px;}
.pricecontent h6{border: 1px;outline-style: solid;text-align: center;padding: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;background: rgb(235, 230, 230);outline-width: 0.5px;font-size: 150%;}
.pricebtn{background:rgb(0, 174, 255);width:80%;margin-left:20px;margin-top: 30px;border-radius: 8px;padding: 5px;cursor: pointer;}
.pricebtn2{background:white;outline-style: solid;}
.pricebtn2:hover{background:rgb(0, 174, 255);color:white;}
.pricebtn:hover{color:white;}

#pricedib{padding-left:0px;}
.allprices{display:flex;margin-left: 150px;padding-top:20px;}
.pricecontent p{font-size: 95%;padding: 5px;}



